button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.patient-container {
  margin-top: 50px;
}

.patient-list {
  margin-top: 25px;
}

.pillbox-container {
  margin-top: 10px;
  display: table;
}

.pillbox {
  margin-top: 10px;
}

.hidden {
  display: none;
}

#patient-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.pillimg{
  height: 25px;
}


